# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\Users\Holst\OneDrive\Documents\Diplomingeniør i softwareteknologi\2. Semester\VOP programmering\OpgaverOgForberedelse\exercises\Lesson9\ArrayManipulation\Exercise\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
